<!DOCTYPE html >
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/styleHome.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Project One</title>
</head>
<body>
  <div>
  <nav>
  <div class="header">
    <a class = "headerlogo" href="/connection/home"><img  class="abc" src ="/images/sportsBuzz.jpg" alt= "logo"></a>
  </div>
  <ul>
    <li><a href="/connection/newmatch">Start a new Match</a></li>
    <li><a href="#">Login      </a></li>
    <li><a href="#">Sign up    </a></li>
  </ul>
  </nav>
  <div class="connections">
    <a href="/connection/">Connections</a>
  </div>