<%- include('./partials/header.ejs')%>
<div class="contactpage">
    <h2>Contact Me</h2>
    <p>Nikhil Surya Peteti <br> Email: peteti.nikhil@gmail.com <br> Ph-No: +1-(704)-665-9714</p>
</div>

<%- include('./partials/footer.ejs')%>