<%- include('./partials/header.ejs')%>
  <main>
  <h1>Sports Buzz</h1>
  <p class="bodypara">Sorts Buzz is a platform for all sports aficionados.<br> Sports Buzz is a one step solution to find
    play partners, team and locations for booking.<br> Put on your shoes and get access to more than 1000 Venues in USA and more tham 100,000 sports enthusiasts.
  </p>
  </main>
<%- include('./partials/footer.ejs')%>